.titleWrapper {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 70px;
    color: black;
    text-align: center;
}

.title {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: left;
}

.content {
    line-height: 36px;
    font-size: 22px;
    text-indent: 44px;
    text-align: left;
}

.btn {
    margin-top: 60px;
}